.scorepage_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.scorepage_container h1 {
  font-size: 3.75rem;
}

.scoreboard {
  margin: 4rem 1rem 0rem;
  height: 100%;
}

.scoreboard ul {
  list-style: none;
}

.actions_container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .scorepage_container {
    max-width: 40rem;
    margin: 0 auto;
  }

  .scorepage_container h1 {
    font-size: 6rem;
  }
}
