.startpage_container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.headline_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

.headline_container h1 {
  font-family: var(--nanum);
  font-size: 3.75rem;
}

.headline_container img {
  width: 2.5rem;
}

.rules_container {
  text-align: center;
  margin-bottom: 2rem;
}

.rules_container h2 {
  font-family: var(--nanum);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.actions_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
  margin-top: auto;
}

@media (min-width: 768px) {
  .startpage_container {
    max-width: 50rem;
    margin: 0 auto;
    display: grid;
    place-content: center;
  }

  .headline_container {
    margin-bottom: 5rem;
  }

  .headline_container h1 {
    font-size: 6rem;
  }

  .headline_container img {
    width: 4rem;
  }

  .actions_container {
    margin-top: 5rem;
  }
}
