.startpage_container {
  background-color: var(--black);
}

.button_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.button_shadow {
  height: 37px;
  width: 100%;
  z-index: -1;
  transform: translate(0.35rem, 0.35rem);
  background-color: var(--black);
  border-radius: 0.35rem;
  transition: all 175ms;
}

.button {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  z-index: 1;
  border: 2px solid var(--black);
  color: var(--black);
  background-color: var(--gray);
  background-repeat: no-repeat;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.35rem;
}

.link {
  text-decoration: none;
  text-align: center;
}

.button_container:hover .button_shadow {
  cursor: pointer;
  transform: translate(0, 0);
}

.button_container:hover .button {
  filter: brightness(1.03);
  cursor: pointer;
}
