@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;1,400&family=Nanum+Pen+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

html {
  font-size: 15px;
  height: 100%;
}

:root {
  --white: #fff;
  --nanum: "Nanum Pen Script";
  --blue: rgb(43, 88, 118);
}

body {
  padding: 1.5rem;
  color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
  background: rgb(43, 88, 118);
  background: linear-gradient(0deg, rgba(43, 88, 118, 1) 0%, rgba(78, 67, 118, 1) 100%);
}

p {
  line-height: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
}
